<!DOCTYPE html>
<html>

<head>
</head>

<body>
  <div style="padding: 80px">
    {{#if loggedIn}}

    <div>
      <a href="/logout">Logout</a>
    </div>
    <p>Hello {{username}}</p>

    <ul>
      <li><a href="/transfer">Transfer Money</a></li>
    </ul>

    {{else}}

    <div>
      <a href="/login">Login</a>
    </div>

    {{/if}}
  </div>
</body>

</html>