<!DOCTYPE html>
<html>

<head>
</head>

<body>
  <div style="padding: 80px">
    <h1>Transfer Money</h1>
    <p>Successfully transferred ${{amount}} to <strong>{{recipient}}</strong></p>
  </div>
</body>

</html>